* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f7fa;
    color: #333;
}

/* NAVBAR */
header {
    background: #111;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo {
    color: #00e676;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #0058e6;
}

/* HERO */
.hero {
    height: 100vh;
    /*background: linear-gradient(135deg, #1f4037, #99f2c8);*/
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    color: #ffffff;
}

.hero h2 {
    font-size: 2.5rem;
}

.hero span {
    color: #fff;
}

.hero p {
    margin: 15px 0;
}

.btn {
    background: #111;
    color: #fff;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 25px;
    transition: transform 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

/* SECTIONS */
.section {
    padding: 80px 40px;
    max-width: 1000px;
    margin: auto;
}

.section h2 {
    margin-bottom: 30px;
    text-align: center;
}

/* SKILLS */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.skills-grid div {
    background: #111;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s;
}

.skills-grid div:hover {
    transform: translateY(-5px);
}

/* PROJECTS */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-8px);
}

/* FOOTER */
footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 20px;
}
